NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8000
NEXT_PUBLIC_SUPABASE_URL=https://iaflhyvblukwzgnsvdjt.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_KGrGoAHtVuOXkGbCVvl0Aw_mBMTC6N5
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlhZmxoeXZibHVrd3pnbnN2ZGp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQxNzY5NzQsImV4cCI6MjA5OTc1Mjk3NH0.J5dprSqSK9LEc54nE3EAYBmH0bZuhBexErzTSGzoH9w
